# macOS
.DS_Store

# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
DerivedData/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/xcode/package.xcworkspace/
.swiftpm/xcode/xcuserdata/
Package.resolved
Packages/

# Keep shared Xcode config for bundle ID
!.swiftpm/xcode/overrides.xcconfig

# CocoaPods (if used)
Pods/

# Carthage (if used)
Carthage/Build/
Carthage/Checkouts/

# IDE
*.idea/
*.vscode/

# Misc
*.log
*.tmp
