// Override settings for SwiftPM package builds in Xcode
// https://developer.apple.com/documentation/xcode/build-settings-reference

PRODUCT_BUNDLE_IDENTIFIER = com.akaraatanasov.ModelExplorer
PRODUCT_NAME = Model Explorer
MARKETING_VERSION = 1.0
CURRENT_PROJECT_VERSION = 1

// Auto-generate Info.plist with these keys
GENERATE_INFOPLIST_FILE = YES
INFOPLIST_KEY_CFBundleDisplayName = Model Explorer
INFOPLIST_KEY_UILaunchScreen_Generation = YES
INFOPLIST_KEY_UISupportedInterfaceOrientations = UIInterfaceOrientationPortrait UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight
INFOPLIST_KEY_UISupportedInterfaceOrientations_iPad = UIInterfaceOrientationPortrait UIInterfaceOrientationPortraitUpsideDown UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight
INFOPLIST_KEY_UIApplicationSceneManifest_Generation = YES
